<!DOCTYPE html>


<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="apple-touch-icon" sizes="57x57"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://cdn-class.likelion.org/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://cdn-class.likelion.org/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://cdn-class.likelion.org/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
        href="https://cdn-class.likelion.org/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://cdn-class.likelion.org/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://cdn-class.likelion.org/static/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
        content="https://cdn-class.likelion.org/static/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">







    <link href="https://cdn-class.likelion.org/static/custom.css" rel="stylesheet" type="text/css">
    <link href="https://cdn-class.likelion.org/static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet"
        type="text/css" />
    <link href="https://cdn-class.likelion.org/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="https://cdn-class.likelion.org/static/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet"
        type="text/css" />
    <link href="https://cdn-class.likelion.org/static/assets/plugins/jquery-scrollbar/jquery.scrollbar.css"
        rel="stylesheet" type="text/css" media="screen" />
    <link href="https://cdn-class.likelion.org/static/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="https://cdn-class.likelion.org/static/pages/css/themes/unlax.css"
        rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="https://cdn-class.likelion.org/static/css/classlion.css" rel="stylesheet"
        type="text/css" />
    <link class="main-stylesheet" href="https://cdn-class.likelion.org/static/css/lecture_list.css" rel="stylesheet"
        type="text/css" />
    <link class="main-stylesheet" href="https://cdn-class.likelion.org/static/css/lecture_index.css" rel="stylesheet"
        type="text/css" />
    <link class="main-stylesheet" href="https://cdn-class.likelion.org/static/css/lecture_show.css" rel="stylesheet"
        type="text/css" />

    <link href="https://cdn-class.likelion.org/static/custom_css.css" rel="stylesheet" type="text/css">


    <title>

        클래스 라이언
    </title>




    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N6X4VHK');
    </script>
    <!-- End Google Tag Manager -->


</head>


<body class="fixed-header menu-behind">





    <nav class="page-sidebar" data-pages="sidebar">
        <!-- BEGIN SIDEBAR MENU HEADER-->
        <div class="sidebar-header">
        </div>
        <!-- END SIDEBAR MENU HEADER-->
        <!-- START SIDEBAR MENU -->
        <div class="sidebar-menu">
            <!-- BEGIN SIDEBAR MENU ITEMS-->
            <ul class="menu-items">
                <li class="m-t-30">
                    <a href="/board/notices/">공지사항</a>
                    <span class="icon-thumbnail">nb</span>
                </li>
                <li class="">
                    <a href="/board/free/">자유 게시판</a>
                    <span class="icon-thumbnail">fb</span>
                </li>
                <li class="">
                    <a href="/board/tip/">팁 게시판</a>
                    <span class="icon-thumbnail">tb</span>
                </li>
            </ul>

            <div class="clearfix">
            </div>
        </div>
    </nav>

    <div class="page-container">

        <div class="header">
            <!-- START MOBILE SIDEBAR TOGGLE -->
            <a class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar" href="#"></a>
            <!-- END MOBILE SIDEBAR TOGGLE -->
            <div class="">
                <a class="brand inline" href="/">
                    <!-- 브랜드 로고 -->
                    <img class="LogoImg" alt="logo"
                        data-src="https://cdn-class.likelion.org/static/img/class_lion_logo.png"
                        data-src-retina="https://cdn-class.likelion.org/static/img/class_lion_logo.png"
                        src="https://cdn-class.likelion.org/static/img/class_lion_logo.png">
                </a>
            </div>

            <div class="d-flex align-items-center">



                <div class="pull-left p-r-10 font-heading d-lg-block div__username">
                    {% if user.is_authenticated %}
                    <span class="semi-bold profile__name"><a href="">{{user.username}}</a></span>
                    {% else %}
                    <span class="semi-bold profile__name"><a href="">로그인</a></span>
                    {% endif %}
                </div>
                <div class="dropdown pull-right d-lg-block ">
                    <button aria-expanded="false" aria-haspopup="true" class="profile-dropdown-toggle"
                        data-toggle="dropdown" type="button"><span class="thumbnail-wrapper d32 circular inline"><img
                                alt="" data-src="https://cdn-class.likelion.org/static/assets/img/avatar.png"
                                data-src-retina="https://cdn-class.likelion.org/static/assets/img/avatar_small_2x.png"
                                height="32" src="https://cdn-class.likelion.org/static/assets/img/avatar.png"
                                width="32"></span>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                        <a class="dropdown-item" href="/change_password"><i class="fa fa-info"></i> 비밀번호 변경</a>
                        <a class="dropdown-item" href="/profile/231"><i class="fa fa-info"></i> my page</a>
                        <a class="clearfix bg-master-lighter dropdown-item" href="/accounts/logout/">
                            <span class="pull-left">Logout</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-content-wrapper PageContainer">
            <div class="PageContainer-child">



                {% block content %}
                {% endblock %}


            </div>




        </div>
    </div>
    </div>







    <script src="https://cdn-class.likelion.org/static/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/jquery/jquery-3.2.1.min.js"
        type="text/javascript"></script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/modernizr.custom.js" type="text/javascript">
    </script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/jquery-ui/jquery-ui.min.js"
        type="text/javascript"></script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/popper/umd/popper.min.js" type="text/javascript">
    </script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/bootstrap/js/bootstrap.min.js"
        type="text/javascript"></script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/jquery/jquery-easy.js" type="text/javascript">
    </script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/jquery-unveil/jquery.unveil.min.js"
        type="text/javascript"></script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/jquery-ios-list/jquery.ioslist.min.js"
        type="text/javascript"></script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="https://cdn-class.likelion.org/static/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js">
    </script>
    <script src="https://cdn-class.likelion.org/static/pages/js/pages.min.js" type="text/javascript"></script>


    <script src="https://cdn-class.likelion.org/static/full-screen.js" type="text/javascript"></script>


    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Setup AJAX
        $(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            });
        });

        function like() {
            var like = $(this);
            var type = like.data('type');
            var pk = like.data('id');
            var action = like.data('action');
            var route = like.data('route');
            var dislike = like.next();
            var like_count = like.find("[data-count='like-count']").text();
            var emptyHt = "https://cdn-class.likelion.org/static/img/icon_heart_line.png";
            var fullHt = "https://cdn-class.likelion.org/static/img/icon_heart.png"

            if (route) {
                url = route
            } else {
                url = pk + "/" + action + "/"
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    'obj': pk
                },

                success: function (json) {
                    like.find("[data-count='like-count']").text(json.like_count);
                    if (like_count < json.like_count) {
                        like.find(".comment-button__likeit__icon--empty").attr('src', fullHt);
                        like.find(".content-button__likeit__icon--empty").attr('src', fullHt);
                        like.find(".comment-button__likeit__icon--empty").addClass(
                            'comment-button__likeit__icon--full');
                        like.find(".comment-button__likeit__icon--empty").removeClass(
                            'comment-button__likeit__icon--empty');
                        like.find(".content-button__likeit__icon--empty").addClass(
                            'content-button__likeit__icon--full');
                        like.find(".content-button__likeit__icon--empty").removeClass(
                            'content-button__likeit__icon--empty');
                    } else {
                        like.find(".comment-button__likeit__icon--full").attr('src', emptyHt);
                        like.find(".content-button__likeit__icon--full").attr('src', emptyHt);
                        like.find(".comment-button__likeit__icon--full").addClass(
                            'comment-button__likeit__icon--empty');
                        like.find(".comment-button__likeit__icon--full").removeClass(
                            'comment-button__likeit__icon--full');
                        like.find(".content-button__likeit__icon--full").addClass(
                            'content-button__likeit__icon--empty');
                        like.find(".content-button__likeit__icon--full").removeClass(
                            'content-button__likeit__icon--full');
                    }
                }
            });
            return false;
        }

        $('.comment__recomment').click(function () {
            $(this).parent().parent().siblings('.RecommentContainer').toggleClass('RecommentContainer--hide');
        })

        // Connecting Handlers
        $('[data-action="like"]').click(like);
    </script>







    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6X4VHK" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


</body>

</html>